<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>List of Iot Expertises</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<h2>List of Iot Expertises</h2>
<br><hr><br>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			
	
		</tr>
	</thead>
		<tbody>
			<tr th:each="s:${listIotExpertises}">
			<td th:text="${s.id}"></td>
			<td th:text="${s.name}"></td>
			
		</tr>
		</tbody>
	
</table>

</body>
</html>